{% extends "church/base.html" %}
{% load static %}
{% block content %}


<div class="body-content">
    <div class="about-section">
    <h1>Contact Us</h1>
    <p>We still in development phase.</p>
    <p>We will be pround to see you feeback and give us your point of view.</p>
    </div>

    <h2 style="text-align:center">People to Contact</h2>
        <div class="row">
        <div class="column">
            <div class="card">
             <h1>FaceBook</h1>
            </div>
        </div>

</div>

{% endblock %}